.People .Person {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

.Person img {
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
  shape-outside: circle();
  border: 1px solid #333;
}

@media screen and (max-width: 600px) {
  .Person img.avatar {
    display: none;
  }
}